<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hdy.eva.mapper.evaResTur20200001MidMapper">
  <resultMap id="BaseResultMap" type="hdy.eva.entity.evaResTur20200001Mid">
    <constructor>
      <idArg column="time_online" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="unit" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="time_offline" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="v1" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="v2" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="v3" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="v4" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="v5" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="v6" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="v7" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="v8" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="v9" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="v10" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="v11" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="v12" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="v13" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="v14" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="v15" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="v16" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="v17" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="v18" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="v19" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="v20" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="v21" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="v22" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="v23" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="v24" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="v25" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="v26" javaType="java.lang.Float" jdbcType="REAL" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    time_online, unit, time_offline, v1, v2, v3, v4, v5, v6, v7, v8, v9, v10, v11, v12, 
    v13, v14, v15, v16, v17, v18, v19, v20, v21, v22, v23, v24, v25, v26
  </sql>
  <select id="selectByExample" parameterType="hdy.eva.entity.evaResTur20200001MidExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from eva_res_tur_20200001_mid
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="hdy.eva.entity.evaResTur20200001MidKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from eva_res_tur_20200001_mid
    where time_online = #{timeOnline,jdbcType=INTEGER}
      and unit = #{unit,jdbcType=TINYINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="hdy.eva.entity.evaResTur20200001MidKey">
    delete from eva_res_tur_20200001_mid
    where time_online = #{timeOnline,jdbcType=INTEGER}
      and unit = #{unit,jdbcType=TINYINT}
  </delete>
  <delete id="deleteByExample" parameterType="hdy.eva.entity.evaResTur20200001MidExample">
    delete from eva_res_tur_20200001_mid
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="hdy.eva.entity.evaResTur20200001Mid">
    insert into eva_res_tur_20200001_mid (time_online, unit, time_offline, 
      v1, v2, v3, v4, 
      v5, v6, v7, v8, 
      v9, v10, v11, v12, 
      v13, v14, v15, v16, 
      v17, v18, v19, v20, 
      v21, v22, v23, v24, 
      v25, v26)
    values (#{timeOnline,jdbcType=INTEGER}, #{unit,jdbcType=TINYINT}, #{timeOffline,jdbcType=INTEGER}, 
      #{v1,jdbcType=REAL}, #{v2,jdbcType=REAL}, #{v3,jdbcType=REAL}, #{v4,jdbcType=REAL}, 
      #{v5,jdbcType=REAL}, #{v6,jdbcType=REAL}, #{v7,jdbcType=REAL}, #{v8,jdbcType=REAL}, 
      #{v9,jdbcType=REAL}, #{v10,jdbcType=REAL}, #{v11,jdbcType=REAL}, #{v12,jdbcType=REAL}, 
      #{v13,jdbcType=REAL}, #{v14,jdbcType=REAL}, #{v15,jdbcType=REAL}, #{v16,jdbcType=REAL}, 
      #{v17,jdbcType=REAL}, #{v18,jdbcType=REAL}, #{v19,jdbcType=REAL}, #{v20,jdbcType=REAL}, 
      #{v21,jdbcType=REAL}, #{v22,jdbcType=REAL}, #{v23,jdbcType=REAL}, #{v24,jdbcType=REAL}, 
      #{v25,jdbcType=REAL}, #{v26,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="hdy.eva.entity.evaResTur20200001Mid">
    insert into eva_res_tur_20200001_mid
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="timeOnline != null">
        time_online,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="timeOffline != null">
        time_offline,
      </if>
      <if test="v1 != null">
        v1,
      </if>
      <if test="v2 != null">
        v2,
      </if>
      <if test="v3 != null">
        v3,
      </if>
      <if test="v4 != null">
        v4,
      </if>
      <if test="v5 != null">
        v5,
      </if>
      <if test="v6 != null">
        v6,
      </if>
      <if test="v7 != null">
        v7,
      </if>
      <if test="v8 != null">
        v8,
      </if>
      <if test="v9 != null">
        v9,
      </if>
      <if test="v10 != null">
        v10,
      </if>
      <if test="v11 != null">
        v11,
      </if>
      <if test="v12 != null">
        v12,
      </if>
      <if test="v13 != null">
        v13,
      </if>
      <if test="v14 != null">
        v14,
      </if>
      <if test="v15 != null">
        v15,
      </if>
      <if test="v16 != null">
        v16,
      </if>
      <if test="v17 != null">
        v17,
      </if>
      <if test="v18 != null">
        v18,
      </if>
      <if test="v19 != null">
        v19,
      </if>
      <if test="v20 != null">
        v20,
      </if>
      <if test="v21 != null">
        v21,
      </if>
      <if test="v22 != null">
        v22,
      </if>
      <if test="v23 != null">
        v23,
      </if>
      <if test="v24 != null">
        v24,
      </if>
      <if test="v25 != null">
        v25,
      </if>
      <if test="v26 != null">
        v26,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="timeOnline != null">
        #{timeOnline,jdbcType=INTEGER},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=TINYINT},
      </if>
      <if test="timeOffline != null">
        #{timeOffline,jdbcType=INTEGER},
      </if>
      <if test="v1 != null">
        #{v1,jdbcType=REAL},
      </if>
      <if test="v2 != null">
        #{v2,jdbcType=REAL},
      </if>
      <if test="v3 != null">
        #{v3,jdbcType=REAL},
      </if>
      <if test="v4 != null">
        #{v4,jdbcType=REAL},
      </if>
      <if test="v5 != null">
        #{v5,jdbcType=REAL},
      </if>
      <if test="v6 != null">
        #{v6,jdbcType=REAL},
      </if>
      <if test="v7 != null">
        #{v7,jdbcType=REAL},
      </if>
      <if test="v8 != null">
        #{v8,jdbcType=REAL},
      </if>
      <if test="v9 != null">
        #{v9,jdbcType=REAL},
      </if>
      <if test="v10 != null">
        #{v10,jdbcType=REAL},
      </if>
      <if test="v11 != null">
        #{v11,jdbcType=REAL},
      </if>
      <if test="v12 != null">
        #{v12,jdbcType=REAL},
      </if>
      <if test="v13 != null">
        #{v13,jdbcType=REAL},
      </if>
      <if test="v14 != null">
        #{v14,jdbcType=REAL},
      </if>
      <if test="v15 != null">
        #{v15,jdbcType=REAL},
      </if>
      <if test="v16 != null">
        #{v16,jdbcType=REAL},
      </if>
      <if test="v17 != null">
        #{v17,jdbcType=REAL},
      </if>
      <if test="v18 != null">
        #{v18,jdbcType=REAL},
      </if>
      <if test="v19 != null">
        #{v19,jdbcType=REAL},
      </if>
      <if test="v20 != null">
        #{v20,jdbcType=REAL},
      </if>
      <if test="v21 != null">
        #{v21,jdbcType=REAL},
      </if>
      <if test="v22 != null">
        #{v22,jdbcType=REAL},
      </if>
      <if test="v23 != null">
        #{v23,jdbcType=REAL},
      </if>
      <if test="v24 != null">
        #{v24,jdbcType=REAL},
      </if>
      <if test="v25 != null">
        #{v25,jdbcType=REAL},
      </if>
      <if test="v26 != null">
        #{v26,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="hdy.eva.entity.evaResTur20200001MidExample" resultType="java.lang.Long">
    select count(*) from eva_res_tur_20200001_mid
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update eva_res_tur_20200001_mid
    <set>
      <if test="record.timeOnline != null">
        time_online = #{record.timeOnline,jdbcType=INTEGER},
      </if>
      <if test="record.unit != null">
        unit = #{record.unit,jdbcType=TINYINT},
      </if>
      <if test="record.timeOffline != null">
        time_offline = #{record.timeOffline,jdbcType=INTEGER},
      </if>
      <if test="record.v1 != null">
        v1 = #{record.v1,jdbcType=REAL},
      </if>
      <if test="record.v2 != null">
        v2 = #{record.v2,jdbcType=REAL},
      </if>
      <if test="record.v3 != null">
        v3 = #{record.v3,jdbcType=REAL},
      </if>
      <if test="record.v4 != null">
        v4 = #{record.v4,jdbcType=REAL},
      </if>
      <if test="record.v5 != null">
        v5 = #{record.v5,jdbcType=REAL},
      </if>
      <if test="record.v6 != null">
        v6 = #{record.v6,jdbcType=REAL},
      </if>
      <if test="record.v7 != null">
        v7 = #{record.v7,jdbcType=REAL},
      </if>
      <if test="record.v8 != null">
        v8 = #{record.v8,jdbcType=REAL},
      </if>
      <if test="record.v9 != null">
        v9 = #{record.v9,jdbcType=REAL},
      </if>
      <if test="record.v10 != null">
        v10 = #{record.v10,jdbcType=REAL},
      </if>
      <if test="record.v11 != null">
        v11 = #{record.v11,jdbcType=REAL},
      </if>
      <if test="record.v12 != null">
        v12 = #{record.v12,jdbcType=REAL},
      </if>
      <if test="record.v13 != null">
        v13 = #{record.v13,jdbcType=REAL},
      </if>
      <if test="record.v14 != null">
        v14 = #{record.v14,jdbcType=REAL},
      </if>
      <if test="record.v15 != null">
        v15 = #{record.v15,jdbcType=REAL},
      </if>
      <if test="record.v16 != null">
        v16 = #{record.v16,jdbcType=REAL},
      </if>
      <if test="record.v17 != null">
        v17 = #{record.v17,jdbcType=REAL},
      </if>
      <if test="record.v18 != null">
        v18 = #{record.v18,jdbcType=REAL},
      </if>
      <if test="record.v19 != null">
        v19 = #{record.v19,jdbcType=REAL},
      </if>
      <if test="record.v20 != null">
        v20 = #{record.v20,jdbcType=REAL},
      </if>
      <if test="record.v21 != null">
        v21 = #{record.v21,jdbcType=REAL},
      </if>
      <if test="record.v22 != null">
        v22 = #{record.v22,jdbcType=REAL},
      </if>
      <if test="record.v23 != null">
        v23 = #{record.v23,jdbcType=REAL},
      </if>
      <if test="record.v24 != null">
        v24 = #{record.v24,jdbcType=REAL},
      </if>
      <if test="record.v25 != null">
        v25 = #{record.v25,jdbcType=REAL},
      </if>
      <if test="record.v26 != null">
        v26 = #{record.v26,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update eva_res_tur_20200001_mid
    set time_online = #{record.timeOnline,jdbcType=INTEGER},
      unit = #{record.unit,jdbcType=TINYINT},
      time_offline = #{record.timeOffline,jdbcType=INTEGER},
      v1 = #{record.v1,jdbcType=REAL},
      v2 = #{record.v2,jdbcType=REAL},
      v3 = #{record.v3,jdbcType=REAL},
      v4 = #{record.v4,jdbcType=REAL},
      v5 = #{record.v5,jdbcType=REAL},
      v6 = #{record.v6,jdbcType=REAL},
      v7 = #{record.v7,jdbcType=REAL},
      v8 = #{record.v8,jdbcType=REAL},
      v9 = #{record.v9,jdbcType=REAL},
      v10 = #{record.v10,jdbcType=REAL},
      v11 = #{record.v11,jdbcType=REAL},
      v12 = #{record.v12,jdbcType=REAL},
      v13 = #{record.v13,jdbcType=REAL},
      v14 = #{record.v14,jdbcType=REAL},
      v15 = #{record.v15,jdbcType=REAL},
      v16 = #{record.v16,jdbcType=REAL},
      v17 = #{record.v17,jdbcType=REAL},
      v18 = #{record.v18,jdbcType=REAL},
      v19 = #{record.v19,jdbcType=REAL},
      v20 = #{record.v20,jdbcType=REAL},
      v21 = #{record.v21,jdbcType=REAL},
      v22 = #{record.v22,jdbcType=REAL},
      v23 = #{record.v23,jdbcType=REAL},
      v24 = #{record.v24,jdbcType=REAL},
      v25 = #{record.v25,jdbcType=REAL},
      v26 = #{record.v26,jdbcType=REAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="hdy.eva.entity.evaResTur20200001Mid">
    update eva_res_tur_20200001_mid
    <set>
      <if test="timeOffline != null">
        time_offline = #{timeOffline,jdbcType=INTEGER},
      </if>
      <if test="v1 != null">
        v1 = #{v1,jdbcType=REAL},
      </if>
      <if test="v2 != null">
        v2 = #{v2,jdbcType=REAL},
      </if>
      <if test="v3 != null">
        v3 = #{v3,jdbcType=REAL},
      </if>
      <if test="v4 != null">
        v4 = #{v4,jdbcType=REAL},
      </if>
      <if test="v5 != null">
        v5 = #{v5,jdbcType=REAL},
      </if>
      <if test="v6 != null">
        v6 = #{v6,jdbcType=REAL},
      </if>
      <if test="v7 != null">
        v7 = #{v7,jdbcType=REAL},
      </if>
      <if test="v8 != null">
        v8 = #{v8,jdbcType=REAL},
      </if>
      <if test="v9 != null">
        v9 = #{v9,jdbcType=REAL},
      </if>
      <if test="v10 != null">
        v10 = #{v10,jdbcType=REAL},
      </if>
      <if test="v11 != null">
        v11 = #{v11,jdbcType=REAL},
      </if>
      <if test="v12 != null">
        v12 = #{v12,jdbcType=REAL},
      </if>
      <if test="v13 != null">
        v13 = #{v13,jdbcType=REAL},
      </if>
      <if test="v14 != null">
        v14 = #{v14,jdbcType=REAL},
      </if>
      <if test="v15 != null">
        v15 = #{v15,jdbcType=REAL},
      </if>
      <if test="v16 != null">
        v16 = #{v16,jdbcType=REAL},
      </if>
      <if test="v17 != null">
        v17 = #{v17,jdbcType=REAL},
      </if>
      <if test="v18 != null">
        v18 = #{v18,jdbcType=REAL},
      </if>
      <if test="v19 != null">
        v19 = #{v19,jdbcType=REAL},
      </if>
      <if test="v20 != null">
        v20 = #{v20,jdbcType=REAL},
      </if>
      <if test="v21 != null">
        v21 = #{v21,jdbcType=REAL},
      </if>
      <if test="v22 != null">
        v22 = #{v22,jdbcType=REAL},
      </if>
      <if test="v23 != null">
        v23 = #{v23,jdbcType=REAL},
      </if>
      <if test="v24 != null">
        v24 = #{v24,jdbcType=REAL},
      </if>
      <if test="v25 != null">
        v25 = #{v25,jdbcType=REAL},
      </if>
      <if test="v26 != null">
        v26 = #{v26,jdbcType=REAL},
      </if>
    </set>
    where time_online = #{timeOnline,jdbcType=INTEGER}
      and unit = #{unit,jdbcType=TINYINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="hdy.eva.entity.evaResTur20200001Mid">
    update eva_res_tur_20200001_mid
    set time_offline = #{timeOffline,jdbcType=INTEGER},
      v1 = #{v1,jdbcType=REAL},
      v2 = #{v2,jdbcType=REAL},
      v3 = #{v3,jdbcType=REAL},
      v4 = #{v4,jdbcType=REAL},
      v5 = #{v5,jdbcType=REAL},
      v6 = #{v6,jdbcType=REAL},
      v7 = #{v7,jdbcType=REAL},
      v8 = #{v8,jdbcType=REAL},
      v9 = #{v9,jdbcType=REAL},
      v10 = #{v10,jdbcType=REAL},
      v11 = #{v11,jdbcType=REAL},
      v12 = #{v12,jdbcType=REAL},
      v13 = #{v13,jdbcType=REAL},
      v14 = #{v14,jdbcType=REAL},
      v15 = #{v15,jdbcType=REAL},
      v16 = #{v16,jdbcType=REAL},
      v17 = #{v17,jdbcType=REAL},
      v18 = #{v18,jdbcType=REAL},
      v19 = #{v19,jdbcType=REAL},
      v20 = #{v20,jdbcType=REAL},
      v21 = #{v21,jdbcType=REAL},
      v22 = #{v22,jdbcType=REAL},
      v23 = #{v23,jdbcType=REAL},
      v24 = #{v24,jdbcType=REAL},
      v25 = #{v25,jdbcType=REAL},
      v26 = #{v26,jdbcType=REAL}
    where time_online = #{timeOnline,jdbcType=INTEGER}
      and unit = #{unit,jdbcType=TINYINT}
  </update>
</mapper>